@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

  * {
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e1edfc;
  }

  section#post-list{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  section#post-list article {
      border-left: 5px solid #4CAF50;
      margin-top: 5px;
  }

  p {
      margin-left: 10px;
  }

  p.money-destiny {
      font-weight: bold;
  }

  p.type-payment {
      font-style: italic;
  }